@import "tailwindcss";

:root {
  --background: #c6c3dd;
  --background-secondary: #e1e1ec;
  --background-ternary: #f6f6fb;
  --foreground: #F5F5F5;
  --foreground-secondary: #1d4806;
  --foreground-secondary-dark: #112d02;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #c6c3dd;
    --background-secondary: #e1e1ec;
    --foreground: #1f201f;
    --foreground-secondary: #1d4806;
    --foreground-secondary-dark: #112d02;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg {
  background-color: var(--background);
}
.bg-dark {
  background-color: var(--foreground-secondary);
  color: var(--background)
}
.bg-dark-hover {
  background-color: var(--foreground-secondary-dark);
  color: var(--background);
}
.bg2 {
  background-color: var(--background-secondary);
}
.bg2-hover {
  background-color: var(--background-secondary);
}
.bg2-hover:hover {
  background-color: var(--background-ternary);
}
.fg {
  color: var(--foreground);
}
.fg-fill {
  fill: var(--foreground);
}
.fg2 {
  color: var(--foreground-secondary);
}

.btn {
  @apply bg-gray-700 hover:bg-gray-500 text-white font-bold py-2 px-4 rounded cursor-pointer;
}
.btn2 {
  @apply text-white font-bold py-2 px-4 rounded cursor-pointer;
  background-color: var(--foreground-secondary);
}
.btn-red {
  @apply bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded cursor-pointer;
}
.btn2:hover {
  background-color: var(--foreground-secondary-dark);
}

.input {
  background-color: var(--background-secondary);
  @apply text-black p-2 m-1 rounded min-w-full md:min-w-9/10;
}
.input-label {
  @apply block ml-2;
}
.select {
  @apply py-2.5;
}